
body {
    background-color: #EEEECC;
    color: #000000;
    font-family: monospace;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    border-bottom: dotted thin;
}

h3 {
    text-decoration: underline;
}

.footer {
    font-style: oblique;
    text-align: center;
}

pre {
    color: #00FF00;
    background: #000000;
    padding: 5px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}
